*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #edf2f2;
  font-size: 30px;
  color: #ee0909;
  text-align: center;
  padding: 30px;
  font-weight: bold;
}
.field {
  color: #640707;
}
