*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #97fafa;
  font-size: 30px;
  color: #6638d1;
  text-align: center;
  padding: 30px;
  font-weight: bold;
}

.timer {
  padding: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-style: bold;
}

.field {
  color: #14618d;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  font-size: 50px;
  font-style: bold;
}
