<div class="timer" id="timer-1">
  <h1>До дня рождения жены осталось:</h1>
  <div class="field">
    <span class="value" data-value="days">1</span>
    <span class="label">Дней</span>
  </div>

  <div class="field">
    <span class="value" data-value="hours">1</span>
    <span class="label">Часов</span>
  </div>

  <div class="field">
    <span class="value" data-value="mins">1</span>
    <span class="label">Минут</span>
  </div>

  <div class="field">
    <span class="value" data-value="secs">1</span>
    <span class="label">Секунд</span>
  </div>
</div>
